<app-parametro [parametro]="parametro">
    <div class="container box">
        <div class="params">
            <h2>Parâmetros</h2>
            <div class="content">
                <div class="separacao">
                    <div>
                        <span>TEMPO ENVIAR 1:</span>
                        <p>{{parametro.tempoEnvio1}}</p>
                    </div>
                    <div>
                        <span>TEMPO ENVIAR 2:</span>
                        <p>{{parametro.tempoEnvio2}}</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>ATRASO ENTRADA BRAÇO</span>
                        <p>{{parametro.atrasoEntradaBraco}}</p>
                    </div>
                    <div>
                        <span>RETARDO PARA VENTOSA</span>
                        <p>{{parametro.retardoVentosa}}</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>ATRASO SAÍDA BRAÇO (2 á 3.5) "Dianteiro"</span>
                        <p>{{parametro.atrasoSaidaBracoDianteira}}</p>
                    </div>
                    <div>
                        <span>ATRASO SAÍDA BRAÇO (2 á 3.5) "Traseiro"</span>
                        <p>{{parametro.atrasoSaidaBracoTraseira}}</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>TEMPO A MAIS DE GIRO (2 á 3.5) "Dianteiro"</span>
                        <p>{{parametro.tempoGiroDianteira}}</p>
                    </div>
                    <div>
                        <span>TEMPO A MAIS DE GIRO (2 á 3.5) "Traseiro"</span>
                        <p>{{parametro.tempoGiroTraseira}}</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>Velocidade Giro Esq. Lixa</span>
                        <p>{{parametro.velocidadeLixEsq}}</p>
                    </div>
                    <div>
                        <span>Velocidade Giro Diret. Lixa</span>
                        <p>{{parametro.velocidadeLapDireita}}</p>
                    </div>
                </div>
            </div>

            <br>

            <div class="qtd">
                <h2>Qtd voltas</h2>
                <div class="separacao">
                    <span>QTD DE VOLTAS FRONTAL</span>
                    <p>{{parametro.qtdVoltasFrontal}}</p>
                </div>
                <div class="separacao">
                    <span>QTD DE VOLTAS TRASEIRO</span>
                    <p>{{parametro.qtdVoltasTraseira}}</p>
                </div>
                <h2>Pressão</h2>
                <div class="separacao">
                    <span>PRESSÃO LAPIDADO</span>
                    <p>{{parametro.pressaoLapidado}}</p>
                </div>
                <div class="separacao">
                    <span>PRESSÃO LIXADO</span>
                    <p>{{parametro.pressaoLixado}}</p>
                </div>
            </div>
        </div>
    </div>

</app-parametro>