<app-parametro>

    <div class="container box">
        <div class="params">
            <h2>Parâmetros</h2>
            <div class="content">
                <div class="separacao">
                    <div>
                        <span>TEMPO ENVIAR 1:</span>
                        <p>2.0</p>
                    </div>
                    <div>
                        <span>TEMPO ENVIAR 2:</span>
                        <p>1.0</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>ATRASO ENTRADA BRAÇO</span>
                        <p>0.5</p>
                    </div>
                    <div>
                        <span>RETARDO PARA VENTOSA</span>
                        <p>0.5</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>ATRASO SAÍDA BRAÇO (2 á 3.5) "Dianteiro"</span>
                        <p>2.0</p>
                    </div>
                    <div>
                        <span>ATRASO SAÍDA BRAÇO (2 á 3.5) "Traseiro"</span>
                        <p>2.0</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>TEMPO A MAIS DE GIRO (2 á 3.5) "Dianteiro"</span>
                        <p>2.5</p>
                    </div>
                    <div>
                        <span>TEMPO A MAIS DE GIRO (2 á 3.5) "Traseiro"</span>
                        <p>2.5</p>
                    </div>
                </div>
                <div class="separacao">
                    <div>
                        <span>Velocidade Giro Esq. Lixa</span>
                        <p>27 ± 2</p>
                    </div>
                    <div>
                        <span>Velocidade Giro Diret. Lixa</span>
                        <p>27 ± 2</p>
                    </div>
                </div>
            </div>

            <br>

            <div class="qtd">
                <h2>Qtd voltas</h2>
                <div>
                    <span>QTD DE VOLTAS FRONTAL</span>
                    <p>1</p>
                </div>
                <div>
                    <span>QTD DE VOLTAS TRASEIRO</span>
                    <p>1</p>
                </div>
                <div>
                    <span>PRESSÃO LAPIDADO</span>
                    <p>N/A</p>
                </div>
                <div>
                    <span>PRESSÃO LIXADO</span>
                    <p>1.5 (+/- 1)</p>
                </div>
            </div>
        </div>
    </div>

</app-parametro>