.container {
  width: 100%;

  .content {
    max-width: 800px;
    margin: 0 auto;
  }

  .btn {
    display: flex;
    justify-content: center;
  }

  button {
    max-width: 400px;
    width: 100%;
  }

  .options {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
}
