<div class="container">
    <app-search (parametroSelected)="handleTypeSelected($event)"></app-search>
    <div class="content">
        <div *ngIf="parametro?.maquina === 'YG' ">
            <app-yang-guan [parametro]="parametro"></app-yang-guan>
        </div>
        <div *ngIf="parametro?.maquina === 'NJ' ">
            <app-nanjing [parametro]="parametro"></app-nanjing>
        </div>
        <div class="btn">
            <button mat-raised-button color="warn" *ngIf="!!parametro" (click)="clear()">CANCELAR</button>
        </div>
    </div>
</div>