.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2rem 0;

        button {
            max-width: 400px;
            width: 100%;
        }

        mat-form-field {
            max-width: 400px;
            width: 100%;
        }

    }
}   